# Домашнее задание на проверку знаний библиотеки для анализа данных Pandas.

Вам представлен датасет, который содержит информацию по результатам сезона 2016 года игры в бейсбол.

Вам необходимо загрузить датасет (он находится в архиве с текущим домашним заданием). Провести его очистку, если это необходимо и ответить на поставленные аналитические
вопросы.

Список колонок, представленных в датасете:

---
* attendance        - количество зрителей матча
* away_team         - название гостевой команды
* away_team_errors  - количество ошибок гостевой команды
* away_team_hits    - количество хитов гостевой команды (хит в бейсболе - удар при котором отбивающий достиг первой базы)
* away_team_runs    - количество ранов гостевой команды (ран в бейсболе - очко заработанное игроком нападения)
* date              - дата проведения матча
* field_type        - тип игрового поля
* game_type         - тип игры
* home_team         - название домашней команды
* home_team_errors  - количество ошибок домашней команды
* home_team_hits    - количество хитов домашней команды (хит в бейсболе - удар при котором отбивающий достиг первой базы)
* home_team_runs    - количество ранов домашней команды (ран в бейсболе - очко заработанное игроком нападения)
* start_time        - время начала игрового матча
* venue             - название места проведения матча (стадион, поле, арена)
* day_of_week       - день недели проведения матча
* temperature       - температура воздуха в день проведения матча в фаренгейтах
* wind_speed        - скорость ветра в день проведения матча
* wind_direction    - направление скорости ветра
* sky               - облачность
* total_runs        - общее количество ранов для двух команд
* game_hours_dec    - длительность матча указаная в часах
* season            - тип игрового сезона
* home_team_win     - результат домашней команды (1 - выигрыш)
* home_team_loss    - результат домашней команды (0 - проигрыш)
* home_team_outcome - исход матча
---

Всего в задании 20 вопросов. За каждый правильный вопрос начисляется 5 баллов. Таким образом за все правильные ответы вы получите - 100 баллов. Оценка затем будет приведена к 10-ти бальной шкале.

---

**Кроме того, баллы могут быть снижены за**:

- 1 балл снижается за качество кода - старайтесь чтобы код был максимально лаконичным. Названия переменных (если они используются) должны отражать максимальную ее сущность. Вывод старайтесь делать минимальным, так как первичная цель - сделать качественный анализ, чтобы быстро ответить на поставленный вопрос (никаких таблиц на 100 строк).


- 5 баллов снижается если ответ на домашнюю работу будет прислан в виде скриншота, ноутбука, текстового файла и прочих способов. Используйте при отправке на проверку только GitHub/GitLab либо прочий сервис. Присылать домашнюю работу необходимо ссылкой на ваш репозиторий на адрес электронной почты maratmovlamov2017@gmail.com


- за каждый день просрочки дедлайна снижается по 10 баллов. Один день - минус 10 баллов, второй день минус 10 баллов, третий день минус 10 баллов. Соблюдайте сроки и не приступайте к домашнему заданию в последний момент.

---

Удачи вам в поисках истинны :)

In [1]:
# Импортируйте все необходимые библиотеки и модули которые вам необходимы
import pandas as pd
import numpy as np

In [2]:
# Загрузите датасет и проведите его очистку и форматирование если это необходимо
data = pd.read_csv(r'G:\Задание\baseball_games.csv', delimiter = ',' )
data.head()

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
0,0,40030.0,New York Mets,1,7,3,2016-04-03,on grass,Night Game,Kansas City Royals,...,74.0,14.0,from Right to Left,Sunny,7,3.216667,regular season,1,0,Win
1,1,21621.0,Philadelphia Phillies,0,5,2,2016-04-06,on grass,Night Game,Cincinnati Reds,...,55.0,24.0,from Right to Left,Overcast,5,2.383333,regular season,1,0,Win
2,2,12622.0,Minnesota Twins,0,5,2,2016-04-06,on grass,Night Game,Baltimore Orioles,...,48.0,7.0,out to Leftfield,Unknown,6,3.183333,regular season,1,0,Win
3,3,18531.0,Washington Nationals,0,8,3,2016-04-06,on grass,Night Game,Atlanta Braves,...,65.0,10.0,from Right to Left,Cloudy,4,2.883333,regular season,0,1,Loss
4,4,18572.0,Colorado Rockies,1,8,4,2016-04-06,on grass,Day Game,Arizona Diamondbacks,...,77.0,0.0,in unknown direction,In Dome,7,2.650000,regular season,0,1,Loss

In [3]:
# удаление лишней колонки с индексами
if 'Unnamed: 0' in data.columns: 
    data.drop(columns = ['Unnamed: 0'], axis=1, inplace = True)
data.head()

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
0,40030.0,New York Mets,1,7,3,2016-04-03,on grass,Night Game,Kansas City Royals,0,...,74.0,14.0,from Right to Left,Sunny,7,3.216667,regular season,1,0,Win
1,21621.0,Philadelphia Phillies,0,5,2,2016-04-06,on grass,Night Game,Cincinnati Reds,0,...,55.0,24.0,from Right to Left,Overcast,5,2.383333,regular season,1,0,Win
2,12622.0,Minnesota Twins,0,5,2,2016-04-06,on grass,Night Game,Baltimore Orioles,0,...,48.0,7.0,out to Leftfield,Unknown,6,3.183333,regular season,1,0,Win
3,18531.0,Washington Nationals,0,8,3,2016-04-06,on grass,Night Game,Atlanta Braves,1,...,65.0,10.0,from Right to Left,Cloudy,4,2.883333,regular season,0,1,Loss
4,18572.0,Colorado Rockies,1,8,4,2016-04-06,on grass,Day Game,Arizona Diamondbacks,0,...,77.0,0.0,in unknown direction,In Dome,7,2.650000,regular season,0,1,Loss

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2463 entries, 0 to 2462
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   attendance         2460 non-null   float64
 1   away_team          2463 non-null   object
 2   away_team_errors   2463 non-null   int64
 3   away_team_hits     2463 non-null   int64
 4   away_team_runs     2463 non-null   int64
 5   date               2463 non-null   object
 6   field_type         2463 non-null   object
 7   game_type          2463 non-null   object
 8   home_team          2463 non-null   object
 9   home_team_errors   2463 non-null   int64
 10  home_team_hits     2463 non-null   int64
 11  home_team_runs     2463 non-null   int64
 12  start_time         2463 non-null   object
 13  venue              2463 non-null   object
 14  day_of_week        2463 non-null   object
 15  temperature        2463 non-null   float64
 16  wind_speed         2463 non-null   float64
 17  wind_direction     2463 non-null   object
 18  sky                2463 non-null   object
 19  total_runs         2463 non-null   int64
 20  game_hours_dec     2463 non-null   float64
 21  season             2463 non-null   object
 22  home_team_win      2463 non-null   int64
 23  home_team_loss     2463 non-null   int64
 24  home_team_outcome  2463 non-null   object
dtypes: float64(4), int64(9), object(12)
memory usage: 481.2+ KB

In [5]:
median_attendance = data['attendance'].median()
data['attendance'].fillna(median_attendance, inplace = True)

In [6]:
data = data.query('season == "regular season"')
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2428 entries, 0 to 2462
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   attendance         2428 non-null   float64
 1   away_team          2428 non-null   object
 2   away_team_errors   2428 non-null   int64
 3   away_team_hits     2428 non-null   int64
 4   away_team_runs     2428 non-null   int64
 5   date               2428 non-null   object
 6   field_type         2428 non-null   object
 7   game_type          2428 non-null   object
 8   home_team          2428 non-null   object
 9   home_team_errors   2428 non-null   int64
 10  home_team_hits     2428 non-null   int64
 11  home_team_runs     2428 non-null   int64
 12  start_time         2428 non-null   object
 13  venue              2428 non-null   object
 14  day_of_week        2428 non-null   object
 15  temperature        2428 non-null   float64
 16  wind_speed         2428 non-null   float64
 17  wind_direction     2428 non-null   object
 18  sky                2428 non-null   object
 19  total_runs         2428 non-null   int64
 20  game_hours_dec     2428 non-null   float64
 21  season             2428 non-null   object
 22  home_team_win      2428 non-null   int64
 23  home_team_loss     2428 non-null   int64
 24  home_team_outcome  2428 non-null   object
dtypes: float64(4), int64(9), object(12)
memory usage: 493.2+ KB

# 1. На какую игру пришло максимальное количество зрителей за весь сезон игр?

In [7]:
max_attendance = data['attendance'].max()
data.loc[data.attendance == max_attendance]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
534,53621.0,San Francisco Giants,1,11,2,2016-09-20,on grass,Night Game,Los Angeles Dodgers,0,...,77.0,6.0,out to Rightfield,Cloudy,2,3.6,regular season,0,1,Loss

# 2. Какая игра была самая холодная (temperature) за весь сезон?

In [8]:
min_temp = data['temperature'].min()
data.loc[data.temperature == min_temp]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
2409,32419.0,New York Yankees,1,13,8,2016-04-09,on grass,Day Game,Detroit Tigers,1,...,31.0,18.0,from Left to Right,Cloudy,12,3.333333,regular season,0,1,Loss

# 3. Какая игра была самая теплая за весь сезон?

In [9]:
max_temp = data['temperature'].max()
data.loc[data.temperature == max_temp]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
2026,21753.0,San Francisco Giants,0,8,3,2016-05-13,on grass,Night Game,Arizona Diamondbacks,0,...,101.0,9.0,in unknown direction,Sunny,4,3.0,regular season,0,1,Loss

# 4. Какая игра в сезоне была самая долгая по продолжительности матча?

In [10]:
max_duration = data['game_hours_dec'].max()
data.loc[data.game_hours_dec == max_duration]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
1445,45825.0,Cleveland Indians,0,15,2,2016-07-01,on turf,Day Game,Toronto Blue Jays,2,...,68.0,0.0,in unknown direction,In Dome,3,6.216667,regular season,0,1,Loss

# 5. Какая игра в сезоне была самая короткая по продолжительности матча?

In [11]:
min_duration = data['game_hours_dec'].min()
data.loc[data.game_hours_dec == min_duration]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
423,19991.0,Chicago Cubs,1,4,1,2016-09-29,on grass,Night Game,Pittsburgh Pirates,0,...,63.0,12.0,in from Leftfield,Overcast,2,1.25,regular season,0,0,Loss

# 6. Сколько матчей в сезоне закончилось ничьей?

In [12]:
not_win_list = data[data.home_team_win == 0].index
not_loss_list = data[data.home_team_loss == 0].index
draw_list = not_win_list.intersection(not_loss_list)
data.loc[draw_list]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
423,19991.0,Chicago Cubs,1,4,1,2016-09-29,on grass,Night Game,Pittsburgh Pirates,0,...,63.0,12.0,in from Leftfield,Overcast,2,1.25,regular season,0,0,Loss

# 7. Какая игра была последней в сезоне?

In [13]:
latest_date = data['date'].max()
data.loc[data.date == latest_date]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
349,28730.0,Miami Marlins,0,14,7,2016-10-02,on grass,Day Game,Washington Nationals,0,...,73.0,2.0,from Left to Right,Overcast,17,3.600000,regular season,1,0,Win
385,37015.0,Tampa Bay Rays,0,13,6,2016-10-02,on grass,Day Game,Texas Rangers,2,...,82.0,7.0,from Left to Right,Sunny,10,4.000000,regular season,0,1,Loss
386,44615.0,Pittsburgh Pirates,2,9,4,2016-10-02,on grass,Day Game,St. Louis Cardinals,0,...,71.0,6.0,out to Leftfield,Unknown,14,3.200000,regular season,1,0,Win
387,41445.0,Los Angeles Dodgers,1,4,1,2016-10-02,on grass,Day Game,San Francisco Giants,0,...,62.0,10.0,out to Centerfield,Unknown,8,3.066667,regular season,1,0,Win
388,24856.0,Oakland Athletics,0,7,3,2016-10-02,on grass,Day Game,Seattle Mariners,0,...,58.0,1.0,out to Centerfield,Unknown,5,2.566667,regular season,0,1,Loss
389,36935.0,New York Mets,3,8,2,2016-10-02,on grass,Day Game,Philadelphia Phillies,0,...,66.0,2.0,from Right to Left,Cloudy,7,2.650000,regular season,1,0,Win
390,33277.0,Baltimore Orioles,0,7,5,2016-10-02,on grass,Day Game,New York Yankees,0,...,60.0,4.0,from Left to Right,Unknown,7,2.533333,regular season,0,1,Loss
391,29475.0,Cleveland Indians,0,4,3,2016-10-02,on grass,Day Game,Kansas City Royals,0,...,73.0,2.0,from Right to Left,Cloudy,5,2.433333,regular season,0,1,Loss
392,27762.0,Milwaukee Brewers,1,10,6,2016-10-02,on grass,Day Game,Colorado Rockies,0,...,77.0,3.0,out to Centerfield,Sunny,10,3.383333,regular season,0,1,Loss
393,32587.0,Chicago Cubs,0,9,7,2016-10-02,on grass,Day Game,Cincinnati Reds,0,...,71.0,7.0,out to Leftfield,Unknown,11,3.300000,regular season,0,1,Loss
394,21904.0,Minnesota Twins,0,9,6,2016-10-02,on grass,Day Game,Chicago White Sox,0,...,65.0,6.0,out to Leftfield,Unknown,9,3.016667,regular season,0,1,Loss
395,36787.0,Toronto Blue Jays,0,9,2,2016-10-02,on grass,Day Game,Boston Red Sox,1,...,56.0,6.0,out to Leftfield,Unknown,3,3.233333,regular season,0,1,Loss
396,51220.0,Detroit Tigers,1,5,0,2016-10-02,on grass,Day Game,Atlanta Braves,0,...,80.0,8.0,from Left to Right,Cloudy,1,2.783333,regular season,1,0,Win
397,31385.0,San Diego Padres,0,7,2,2016-10-02,on grass,Day Game,Arizona Diamondbacks,0,...,79.0,0.0,in unknown direction,In Dome,5,2.616667,regular season,1,0,Win
398,28083.0,Houston Astros,0,7,1,2016-10-02,on grass,Day Game,Los Angeles Angels of Anaheim,0,...,75.0,5.0,out to Centerfield,Cloudy,9,2.700000,regular season,1,0,Win

# 8. У какой игры было минимальное количество зрителей?

In [14]:
min_attendance = data['attendance'].min()
data.loc[data.attendance == min_attendance]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
2130,8766.0,Detroit Tigers,0,5,0,2016-05-04,on grass,Night Game,Cleveland Indians,0,...,54.0,11.0,from Left to Right,Overcast,4,2.316667,regular season,1,0,Win

# 9. Какая игра в сезоне была самая ветренная?

In [15]:
max_wind = data['wind_speed'].max()
data.loc[data.wind_speed == max_wind]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
1655,41543.0,Milwaukee Brewers,1,11,5,2016-06-13,on grass,Night Game,San Francisco Giants,0,...,58.0,25.0,out to Centerfield,Cloudy,16,3.633333,regular season,1,0,Win
2005,35736.0,Houston Astros,2,8,9,2016-05-15,on grass,Day Game,Boston Red Sox,3,...,58.0,25.0,out to Rightfield,Cloudy,19,3.666667,regular season,1,0,Win

# 10. В какой игре получили максимальное количество очков?

In [16]:
max_runs = data['total_runs'].max()
data.loc[data.total_runs == max_runs]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
1788,22588.0,Seattle Mariners,1,16,16,2016-06-02,on grass,Night Game,San Diego Padres,1,...,76.0,10.0,out to Rightfield,Sunny,29,3.833333,regular season,0,1,Loss

# 11. Какая игра содержала максимальное количество ошибок домашней команды?

In [17]:
max_ht_errors = data['home_team_errors'].max()
data.loc[data.home_team_errors == max_ht_errors]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
1178,22581.0,Arizona Diamondbacks,1,11,8,2016-07-27,on grass,Night Game,Milwaukee Brewers,5,...,77.0,9.0,in from Leftfield,Cloudy,9,2.933333,regular season,0,1,Loss

# 12. В какой игре было максимальное количество хитов?

In [18]:
data ['total_team_hits'] = data.away_team_hits+data.home_team_hits
max_hits = data['total_team_hits'].max()
data.loc[data.total_team_hits == max_hits]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome,total_team_hits
1413,36253.0,Texas Rangers,0,16,5,2016-07-04,on grass,Day Game,Boston Red Sox,2,...,11.0,out to Centerfield,Cloudy,17,3.666667,regular season,1,0,Win,37

# 13. Выведите количество игр которая сыграла каждая команда в данном сезоне?

In [19]:
home_games = data['home_team'].value_counts()
away_games = data['away_team'].value_counts()
total_games = pd.concat([home_games, away_games], axis = 1 )
total_games['total'] = total_games.home_team+total_games.away_team
total_games.head(10)

                      home_team  away_team  total
Kansas City Royals           81         81    162
Cincinnati Reds              81         81    162
Cleveland Indians            81         80    161
Los Angeles Dodgers          81         81    162
Boston Red Sox               81         81    162
Chicago White Sox            81         81    162
San Francisco Giants         81         81    162
St. Louis Cardinals          81         81    162
Toronto Blue Jays            81         81    162
Washington Nationals         81         81    162

# 14. Какая команда выиграла наибольшое количество матчей в сезоне? (Будьте внимательны с типом матча в сезоне - season).

In [20]:
df_home_wins = pd.pivot_table (data, index = 'home_team', values = 'home_team_win', aggfunc= np.sum)
df_away_wins = pd.pivot_table (data, index = 'away_team', values = 'home_team_loss', aggfunc=np.sum)
df_wins = pd.concat([df_home_wins, df_away_wins], axis = 1 )
df_wins ['total_wins'] = df_wins.home_team_win+df_wins.home_team_loss
df_wins.sort_values( by = 'total_wins', ascending = False ).iloc[0]

home_team_win      57
home_team_loss     46
total_wins        103
Name: Chicago Cubs, dtype: int64

# 15. Какая команда выиграла наибольшее количество домашних матчей в сезоне?

In [21]:
home_winner = data.groupby(['home_team'],as_index=False).aggregate({'home_team_win': "sum"}).sort_values("home_team_win", ascending = False)
home_winner.iloc[[0]]

      home_team  home_team_win
4  Chicago Cubs             57

# 16. Какая команда выиграла наибольшее количество гостевых матчей в сезоне?

In [22]:
away_winner = data.groupby(['away_team'],as_index=False).aggregate({'home_team_loss': "sum"}).sort_values("home_team_loss", ascending = False)
away_winner.iloc[[0]]

              away_team  home_team_loss
25  St. Louis Cardinals              48

# 17. Какая команда проиграла наибольшее количество матчей в сезоне?

In [23]:
df_home_losses = pd.pivot_table (data, index = 'home_team', values = 'home_team_loss', aggfunc= np.sum)
df_away_losses = pd.pivot_table (data, index = 'away_team', values = 'home_team_win', aggfunc=np.sum)
df_losses = pd.concat([df_home_losses, df_away_losses], axis = 1 )
df_losses ['total_losses'] = df_losses.home_team_win+df_losses.home_team_loss
df_losses.sort_values( by = 'total_losses', ascending = False ).iloc[0]

home_team_loss     51
home_team_win      52
total_losses      103
Name: Minnesota Twins, dtype: int64

# 18. Зависит ли выигрышь от количества посетителей матча? (https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.cov.html)

In [24]:
data[['attendance', 'home_team_win']].cov()

                 attendance  home_team_win
attendance     9.555396e+07     242.577878
home_team_win  2.425779e+02       0.249199

# 19. Правда ли что большинство проигрышных домашних матчей приходятся на Субботу и Воскресенье?

In [25]:
def if_weekend(row):
    """
    Функция отнесения дней недель к выходным/будним
    """
    if row['day_of_week'] == ('Saturday' or 'Sunday'):
        return 'weekend'
    else:
        return 'weekday'
    
data['weekend_weekday'] = data.apply( if_weekend, axis = 1 )
data.groupby(['weekend_weekday'],as_index=False).aggregate({'home_team_loss': "sum"})

  weekend_weekday  home_team_loss
0         weekday             966
1         weekend             174

# 20. Правда ли что наибольшее количество ранов происходит в холодную погоду? (Холодной погодой считается погода ниже 0 градусов)

In [26]:
data['temperature_celsius'] = (data['temperature'].apply(lambda x:( x - 32)/1.8))
def if_cold(row):
    """
    Функция отнесения дней к холодным/теплым
    """
    if row['temperature_celsius'] < 0:
        return 'cold'
    else:
        return 'warm'

data['cold_warm'] = data.apply( if_cold, axis = 1 )
data.groupby(['cold_warm'], as_index = False).aggregate({'total_runs': "sum"})

  cold_warm  total_runs
0      cold          12
1      warm       21732